<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="empleados" class="nav-link" 
      routerLinkActive="active">Lista Empleados</a>
    </li>
    <li>
      <a routerLink="agregar" class="nav-link" 
      routerLinkActive="active">Agregar Empleado</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <span>Todos los Derechos Reservados 2022 @Sistemas</span>
  </div>
</footer>